@font-face {
    src: url('Fonts/Raleway-Medium.ttf');
    font-family: 'Raleway',

}
@media only screen and (min-width: 992px) { 

/* paramètres généraux*/

*
{
    font-family: 'Raleway', arial, verdana, sans-serif;
}

li
{
    list-style-type: none;
}

body 
{ 
    margin: 50px; 
    padding : 50px;
    width: 80%;
    height: auto;
     
}

a
{
    text-decoration: none;
    color: black;
}

/* Entête */

header
{
    display: flex; 
    justify-content: space-between;

}





/* barre de recherche */


form i
{
    background-color: #F2F2F2;
    border: 2px #F2F2F2 solid;
    border-radius: 15px;
    
}

form a
{
    background-color: #0065fc;
    color: white;
    border: 1px #0065fc solid;
    border-radius: 0px 10px 10px 0px;
}

form input
{ 
    background-color: white;
    border: 3px #F2F2F2 solid;
}



/* filtres */

#filtres button
{
    border: 3px #F2F2F2 solid;
    background-color: white;
    border-radius: 15px;
}

#filtres button:hover
{
    background-color: #deebff;
}

#filtres i
{
    color: #0065fc;
    border: 3px #deebff solid;
    background-color: #deebff;
}

.info i
{
    color: #0065fc;
}


/* Toutes les Sections */

section
{
    display: flex;
    flex-wrap: wrap;  
    
}

/* Hébergement à Marseille et Les plus populaires */


#plus_populaires, #heb_marseille
{
    display: flex;
    background-color: #F2F2F2;
    border-radius: 15px;

}


#plus_populaires figure, #heb_marseille figure
{

    background-color: white;
    border-radius: 15px;
    padding: 5px;

    

}

#plus_populaires img, #heb_marseille img
{
    width: 100%;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#plus_populaires p, #heb_marseille p
{
    margin: 0;
}

/* Hébergements Marseille */

#heb_marseille
{
   display: flex;
    width: 70%;
    float: left;
    
}



/* Les plus populaires */






/* Activités */

#Activités_marseille
{
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

#Activités_marseille figure
{
    border-radius: 15px;
    padding: 5px;
}

#Activités_marseille img
{
    width: 100%;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* Bas de page */

footer
{
    display: flex;
    background-color: #F2F2F2;

}

footer div
{
    margin-right: 12%;
}

}